<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 morder-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/img/logo.svg" width="229" height="68" alt="Cooking Blog">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
        <li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</a></li>
        <!-- <li><a href="/contact" class="nav-link px-2 link-secondary">Contact</a></li> -->
        <% if(!currUser) { %>
            <li><a href="/user/login" class="nav-link px-2 link-secondary">Login</a></li>
            <li><a href="/user/signup" class="nav-link px-2 link-secondary">Signup</a></li>
        <% } %> 
        <% if(currUser) { %>
            <li><a href="/user/logout" class="nav-link px-2 link-secondary">Logout</a></li>
        <% } %>  
    </ul>

    <div class="col-md-3 text-end">
        <form action="/search" method="POST">
            <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</header>                