<div class="row mt-5">
    <h1 class="col-4 offset-4 mb-3" style="text-align: center;">Login</h1>
    <div class="col-4 offset-4"">
        <form action="/user/login" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button class="btn btn-dark add-btn mt-3 offset-5">Login</button>
        </form>
    </div>
</div>


<!-- git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/S2hubham/Recipe-sharing-platform.git
git push -u origin main -->